<html>
<header>
<center> <h1> Enesca Library </h1> </center>
</header>

<%- include('partials/nav') %>

<style>
.bodym {
  margin: 25px 50px 75px 100px;
}

.sidebar {
  height: 100%;
  width: 75px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
</style>


<div class='bodym'>

<div class='bodym'>
<a href="/books/1">
<img src="../public/image/1984.jpg" alt="Novel 1984" align="left"> 
<h1>1984</h1>
 </a>
</div>

<br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

<div class='bodym'>
<a href="/books/2">
<img src="../public/image/Alchemist.jpg" alt="Novel Alchemist" align="left">
<h1> Alchemist </h1>
 </a>
</div>

<br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

<div class='bodym'>
<a href="/books/3">
<img src="../public/image/The_Great_Gatsby.jpg" alt="Novel The Great Gatsby" align="left">
<h1> The Great Gatsby</h1> 
</a>
</div>


</div>




</html>

 

 