<div class='sidebar'>
<nav>
  <a href="index.ejs">Home Page</a> <br>
  <a href="books.ejs">Books</a> <br>
  <a href="contact.ejs">Contact Us</a> <br>
  <a href="survey.ejs">Survey</a> <br>
</nav>
</div>